{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin', attributes={
        'data-entry': 'admin',
    }) }}

    {% if app.debug %}
        {# makes svgs work with the dev server #}
        <script defer src="{{ asset('build/svgxuse.min.js') }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    {% include 'flash_messages.html.twig' %}

    <div class="flex justify-center items-center mt-8">
        <div class="loading" aria-hidden="true"></div> Loading…
    </div>
{% endblock body %}
