{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin', attributes={
        'data-entry': 'admin',
    }) }}

    <script>
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js')
                .then(function (registration) {
                    // Registration was successful
                    console.log('Service Worker registration successful with scope:', registration.scope);
                }, function (err) {
                    // registration failed
                    console.error('Service Worker registration failed:', err);
                });
        });
    }
    </script>

    {% if app.debug %}
        {# makes svgs work with the dev server #}
        <script defer src="{{ asset('build/svgxuse.min.js') }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    {% include 'flash_messages.html.twig' %}

    <div class="flex justify-center items-center mt-8">
        <div class="loading" aria-hidden="true"></div> Loading...
    </div>

    <portal-target name="modal" multiple></portal-target>
{% endblock body %}
