<!DOCTYPE html>
<html lang="{{ app.request.getLocale()[:2] }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title_wrap %}{% block page_title %}{% endblock %}{{ 'app.parameter.name'|trans }}{% endblock %}</title>

        {% block head %}{% endblock %}

        {% block stylesheets %}{% endblock %}
        {% block favicons %}
            {% include 'favicons.html.twig' %}
        {% endblock %}

        {% block analytics %}
            {% if ga_tracking_id %}
                <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_id  }}"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', '{{ ga_tracking_id }}');
                </script>
            {% endif %}
        {% endblock %}
    </head>
    <body{% if body_attributes is defined %}{{ body_attributes }}{% endif %}>
        {# #app is what Vue.js mounts to #}
        <div id="app">
            {% block body %}
                {% block header %}
                    <header>
                        <div><a href="{{ path('index') }}"><img src="/images/logo.svg" width="250" alt="{{ 'app.parameter.name'|trans }}"></a></div>
                    </header>
                {% endblock header %}
                {% block content_wrap %}
                    <main>
                        {% block content %}
                            {% include 'flash_messages.html.twig' %}
                        {% endblock content %}
                    </main>
                {% endblock content_wrap %}
                {% block footer %}
                    <footer>
                        <div class="text-sm">
                            ©{{ 'now'|date('Y') }} {{ 'app.parameter.name'|trans }} {{ "app.string.all_rights_reserved"|trans }}
                        </div>
                    </footer>
                {% endblock footer %}
            {% endblock body %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
