{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="my-4 mx-auto text-center clearfix">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="inline-block w-12 p-1 hover:no-underline hover:bg-blue-lightest">&lt;&lt;</a>
        {% else %}
            <span class="inline-block w-12 p-1 text-grey-darker">&lt;&lt;</span>
        {% endif %}

        {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="inline-block w-12 p-1 hover:no-underline hover:bg-blue-lightest">&lt;</a>
        {% else %}
            <span class="inline-block w-12 p-1 text-grey-darker">&lt;</span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="hidden lg:inline-block w-12 p-1 hover:no-underline hover:bg-blue-lightest">{{ page }}</a>
            {% else %}
                <span class="hidden lg:inline-block w-12 p-1 text-black border border-grey-light rounded">{{ page }}</span>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="inline-block w-12 p-1 hover:no-underline hover:bg-blue-lightest">&gt;</a>
        {% else %}
            <span class="inline-block w-12 p-1 text-grey-darker">&gt;</span>
        {% endif %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="inline-block w-12 p-1 hover:no-underline hover:bg-blue-lightest">&gt;&gt;</a>
        {% else %}
            <span class="inline-block w-12 p-1 text-grey-darker">&gt;&gt;</span>
        {% endif %}
    </div>
{% endif %}