{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('public') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('public', { attr: { 'data-entry': 'public' } }) }}

    {% if app.debug %}
        {# makes svgs work with the dev server #}
        <script defer src="{{ asset('build/svgxuse.min.js') }}"></script>
    {% endif %}
{% endblock %}

{% block header %}
    <header>
        <div class="flex flex-wrap justify-between items-center w-content"
             :class="{ 'header-mobile-open': showMobileMenu }">
            <a href="{{ path('index') }}">
                <img src="/images/logo.svg" width="150" height="154" alt="{{ 'app.parameter.name'|trans }}">
            </a>

            <nav class="w-full lg:w-auto" role="navigation" aria-label="Main">
                <ul class="flex flex-nowrap list-none">
                    <li class="header-nav_item">
                        <a href="/">About</a>
                    </li>
                    <li class="header-nav_item header-nav_item-products">
                        <a href="/">Products</a>
                    </li>
                    <li class="header-nav_item">
                        <a href="/">Contact</a>
                    </li>

                    <li v-if="!showMobileMenu" class="header-nav_item header-nav_item-toggle">
                        <button type="button"
                                class="button-link"
                                @click="toggleMobileMenu">+ More</button>
                    </li>
                    <li v-else class="header-nav_item header-nav_item-toggle">
                        <button type="button"
                                class="button-link"
                                @click="toggleMobileMenu">– Less</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock header %}

{% block body %}
    {{ parent() }}
{% endblock body %}
