{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('user') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('user', { attr: { 'data-entry': 'user' } }) }}

    {% if app.debug %}
        {# makes svgs work with the dev server #}
        <script defer src="/js/svgxuse.min.js"></script>
    {% endif %}
{% endblock %}

{% block header %}
    <header>
        <div class="flex flex-wrap justify-between items-center w-content">
            <a href="{{ path('index') }}">
                <img src="/images/logo.svg" width="150" height="154" alt="{{ 'app.parameter.name'|trans }}">
            </a>

            <nav class="w-full lg:w-auto" role="navigation" aria-label="Main" id="menu-main"></nav>
        </div>
    </header>
{% endblock header %}

{% block body %}
    {{ parent() }}
{% endblock body %}
